Repository BF-FrontEnd-class-2024/group2-hyf-rebuild, pull requests merged in 2024-01, with the labels that each got.

#9 add communication.md
  planning/communication.md
Labels: md

#10 constraints md added
  planning/constraints.md
Labels: md

#11 add users personas and all info
  .cspell.json
  planning/cecelia.png
  planning/douglas.png
  planning/user-personas.md
Labels: md

#12 add design.md and some photos
  planning/Screenshot1.png
  planning/Screenshot2.png
  planning/Screenshot3.png
  planning/Screenshot4.png
  planning/design.md
Labels: md

#31 backlog.md
  planning/backlog.md
Labels: md

#59 add dev strategy info
  planning/development-strategy.md
Labels: md

#60 add readme.md
  README.md
Labels: md

#61 first release
  .cspell.json
  img/fb.webp
  img/github.webp
  img/insta.webp
  img/linkedin.webp
  img/logo.webp
  public/README.md
  styles/css/about.css
  styles/css/blog.css
  styles/css/index.css
  styles/css/main.css
  styles/css/volunteer.css
  styles/index.css
  styles/pages/about.html
  styles/pages/blog.html
  styles/pages/index.html
  styles/pages/volunteer.html
  styles/something.css
Labels: md, html, css

#62 organizing files
  styles/css/index.css
  styles/css/main.css
Labels: css

#64 add title1 to the main page
  img/img-aga/pic-all-new.png
  styles/css/index.css
  styles/pages/index.html
Labels: html, css

#65 Blogpageheader
  package-lock.json
  styles/css/blog.css
  styles/pages/about.html
  styles/pages/blog.html
  styles/pages/index.html
  styles/pages/volunteer.html
Labels: html, css

#66 add stats2 to main
  styles/css/index.css
  styles/pages/index.html
Labels: html, css

#67 add some info 3 - main page
  img/img-aga/pic1.jpeg
  img/img-aga/pic2.jpg
  img/img-aga/pic3.jpeg
  styles/css/index.css
  styles/pages/index.html
Labels: html, css

#68 add partners - main page
  img/img-aga/image1.png
  img/img-aga/image10.png
  img/img-aga/image11.png
  img/img-aga/image12.png
  img/img-aga/image13.png
  img/img-aga/image14.png
  img/img-aga/image15.png
  img/img-aga/image16.png
  img/img-aga/image2.png
  img/img-aga/image3.png
  img/img-aga/image4.png
  img/img-aga/image5.png
  img/img-aga/image6.png
  img/img-aga/image7.png
  img/img-aga/image8.png
  img/img-aga/image9.png
  styles/css/index.css
  styles/pages/index.html
Labels: html, css

#69 blog title added
  img/blogimg.webp
  styles/css/blog.css
  styles/pages/blog.html
Labels: html, css

#70 subscribe-form main page
  .cspell.json
  styles/css/index.css
  styles/pages/index.html
Labels: html, css

#71 add new folder, images, info about
  img/img-about/community.webp
  img/img-about/family.webp
  img/img-about/hands.webp
  img/img-about/network.webp
  img/img-about/team.webp
  styles/css/about.css
  styles/pages/about.html
Labels: html, css

#72 fixing html file
  index.html
  styles/pages/index.html
Labels: html, css

#73 fix css files link
  index.html
  pages/about.html
  pages/blog.html
Labels: bug

#75 release
  img/Anthony.webp
  img/Jonathan.webp
  img/eleni.webp
  img/top-image.webp
  index.html
  pages/about.html
  pages/volunteer.html
  styles/volunteer.css
Labels: html, css

#77 images fix2
  pages/volunteer.html
Labels: html
